# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
*.db
alembic/versions/__pycache__/
dist/
build/
.site/
venv/
env/
ENV/
.env
.env.*
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter
.ipynb_checkpoints

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
